.inputGrey {
  min-width: 100%;
  padding: 1px 3px;
  margin: 0px 0px 8px 0px;
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 3px;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  color: black;
}
