* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 14px 0px;
  background-color: transparent;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
}

.Posts {
  margin: 0 auto;
  max-width: 680px;
}

.aboutMe {
  display: flex;
  justify-content: center;
  margin: 78px 0px 0px 0px;
  font-family: 'Montserrat';
}

.aboutMe_title {
  font-size: 32px;
  font-weight: 300;
  color: black;
  letter-spacing: 3px;
  text-align: center;
}

.titleError {
  margin: 10px 0px;
  font-size: 32px;
  font-weight: 500;
  color: brown;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}
